@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/*font-family: 'Lato', sans-serif;   font-family: 'Raleway', sans-serif; */
/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
.slick-list {
  overflow: hidden;
}

/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
/* Активная точка */
/* Элемент точки */
.header__burger {
  position: relative;
  display: block;
  width: 40px;
  height: 30px;
  margin-top: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: none;
  margin-left: 20px;
}

.header__burger:before, .header__burger:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #ff0036;
  border-radius: 2px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__burger:before {
  left: 0;
  top: 0;
}

.header__burger:after {
  left: 0;
  bottom: 0;
}

.header__burger span {
  position: absolute;
  background-color: #ff0036;
  width: 100%;
  height: 4px;
  left: 0;
  top: 14px;
  border-radius: 2px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__burger.active:before {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  top: 10px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__burger.active:after {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
  bottom: 16px;
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.header__burger.active span {
  -webkit-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media (max-width: 992px) {
  .header__burger {
    display: block;
    z-index: 3;
  }
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
}

body.lock {
  overflow: hidden;
}

.container {
  max-width: 1210px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 500px) {
  .container {
    padding: 0 10px;
  }
}

.title {
  font-family: 'Raleway', sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: #000;
  margin-bottom: 50px;
}

.red-text {
  color: #ff0036;
}

.btn {
  font-family: 'Raleway', sans-serif;
  width: 170px;
  height: 50px;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  background: #131313;
  padding: 5px 10px;
  -webkit-transition: background 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  transition: background 0.3s, opacity 0.3s, transform 0.3s;
  transition: background 0.3s, opacity 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.btn:hover {
  background: #ff0036;
}

.btn:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.7;
}

.logo {
  width: 100%;
  height: 137.5px;
  margin: 65.4px 0px 25px;
  position: relative;
  padding: 0.5em;
  text-align: center;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 15px 0 rgba(0, 0, 0, 0.1);
  -webkit-transform: translateY(-130%);
          transform: translateY(-130%);
  -webkit-transition: opacity .4s, -webkit-transform .4s;
  transition: opacity .4s, -webkit-transform .4s;
  transition: transform .4s, opacity .4s;
  transition: transform .4s, opacity .4s, -webkit-transform .4s;
}

.logo:before, .logo:after {
  content: '';
}

.logo:before, .logo:after,
.logo .logo-bg {
  background: #131313;
  background-image: url(../image/section-main/Creativia.png);
  background-repeat: no-repeat;
  background-position: 50% 86%;
  top: -50%;
  left: 0;
  width: 100%;
  height: 200%;
  position: absolute;
  -webkit-clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 20%);
          clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 20%);
  z-index: -1;
}

.logo:before {
  background: #ff0036;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.logo:active {
  -webkit-transform: translateY(-125%);
          transform: translateY(-125%);
  opacity: 0.7;
}

.section {
  padding: 100px 0;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.header::before {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index: -1;
  opacity: 0.8;
  z-index: 2;
}

.header:hover::before {
  opacity: 1;
}

.header__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 250px;
          flex: 0 1 250px;
  max-width: 250px;
  position: relative;
  z-index: 3;
}

.header__logo {
  display: block;
  position: absolute;
}

.header__ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 4;
}

.header__li {
  margin-left: 28px;
}

.header__li:first-child {
  margin-left: 0;
}

.header__link {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-size: 19px;
  text-transform: uppercase;
  color: #a4a4a4;
  font-weight: 400;
  padding: 25px 0px;
  position: relative;
  -webkit-transition: color .4s, opacity .4s, -webkit-transform .4s;
  transition: color .4s, opacity .4s, -webkit-transform .4s;
  transition: color .4s, transform .4s, opacity .4s;
  transition: color .4s, transform .4s, opacity .4s, -webkit-transform .4s;
}

.header__link::before, .header__link::after {
  position: absolute;
  content: '';
  width: 0;
  height: 2px;
  background-color: transparent;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  -webkit-transition: width .4s, background-color .4s;
  transition: width .4s, background-color .4s;
}

.header__link::before {
  top: 0;
}

.header__link::after {
  bottom: 0;
}

.header__link:hover {
  color: #fff;
}

.header__link:hover::after, .header__link:hover::before {
  width: 50%;
  background-color: #ff0036;
}

.header__link:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  opacity: 0.7;
}

@media (max-width: 1230px) {
  .header__link {
    font-size: 16px;
    padding: 15px 0px;
  }
  .header__logo-container {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
    max-width: 200px;
  }
  .logo:before, .logo:after,
  .logo .logo-bg {
    background-position: 50% 80%;
    top: -30%;
    height: 170%;
  }
}

@media (max-width: 992px) {
  .header::before {
    opacity: 1;
  }
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #131313;
    padding: 100px 10px 20px 10px;
    overflow: auto;
    -webkit-transition: top .4s;
    transition: top .4s;
  }
  .header__menu.active {
    top: 0;
  }
  .logo:before, .logo:after,
  .logo .logo-bg {
    -webkit-transition: top 0.4s;
    transition: top 0.4s;
    background-position: 50% 90%;
    top: -40%;
    height: 170%;
  }
  .logo.active:before, .logo.active:after,
  .logo.active .logo-bg {
    -webkit-transition: top 0.4s;
    transition: top 0.4s;
    background-position: 50% 90%;
    top: -50%;
    height: 170%;
  }
  .header__ul {
    display: block;
    text-align: center;
  }
  .header__li {
    margin: 0;
    margin-top: 20px;
  }
  .header__li:nth-child(1) {
    margin: 0;
  }
  .header__link {
    font-size: 20px;
    padding: 5px 5px;
    font-weight: 700;
    color: #ff0036;
    padding: 0;
  }
}

.section-main {
  width: 100%;
  height: 100%;
  position: relative;
}

.section-main__bg {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.section-main__bg::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 1;
  opacity: 0.7;
}

.section-main__bg img {
  position: absolute;
  left: 0;
  top: 0;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.section-main__body {
  padding: 100px 40px 20px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: auto;
}

.section-main__title {
  margin-bottom: 45px;
  margin-top: -40px;
  color: #fff;
}

.section-main__text {
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.38;
  padding: 0 50px;
  color: #fff;
  margin-bottom: 50px;
  overflow: auto;
}

.section-main__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-main__btn {
  margin-right: 65px;
}

.section-main__btn:nth-last-child(1) {
  margin: 0;
}

.main-slider {
  position: relative;
}

.main-slider__item {
  width: 100%;
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main-slider .slick-arrow {
  position: absolute;
  margin-top: -14px;
  top: 50%;
  z-index: 5;
  font-size: 0;
  width: 17px;
  height: 28px;
}

.main-slider .slick-arrow.slick-prev {
  left: 36px;
  background: url("../image/section-main/grey-arrow.png") 0 0/100% no-repeat;
}

.main-slider .slick-arrow.slick-prev:hover {
  background: url("../image/section-main/red-arrow.png") 0 0/100% no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-slider .slick-arrow.slick-next {
  right: 36px;
  background: url("../image/section-main/grey-arrow.png") 0 0/100% no-repeat;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.main-slider .slick-arrow.slick-next:hover {
  background: #000;
  background: url("../image/section-main/red-arrow.png") 0 0/100% no-repeat;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

@media (max-width: 1320px) {
  .section-main__text {
    padding: 0 70px;
  }
}

@media (max-width: 1130px) {
  .section-main__text {
    text-align: justify;
  }
}

@media (max-width: 992px) {
  .section-main__body {
    padding: 120px 10px 20px;
  }
  .section-main__text {
    padding: 0 30px;
  }
  .section-main__btn {
    margin-right: 35px;
  }
}

@media (max-width: 500px) {
  .section-main__title {
    margin-bottom: 25px;
  }
  .section-main__text {
    margin-bottom: 25px;
    padding: 0 0px;
  }
  .section-main__btns {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .section-main__btn {
    margin-right: 0px;
    margin-bottom: 25px;
  }
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabs__item {
  background-color: #f7f7f7;
  border: 1px solid #e7e7e7;
  margin-bottom: 10px;
}

.tabs-trigger {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 500;
  display: block;
  color: #262626;
  padding: 15px;
  padding-left: 100px;
  text-decoration: none;
  border-bottom: 1px solid #e7e7e7;
  position: relative;
}

.tabs-trigger::before, .tabs-trigger::after {
  position: absolute;
  content: '';
  -webkit-transition: border .4s, background-color .4s;
  transition: border .4s, background-color .4s;
}

.tabs-trigger::before {
  width: 18px;
  height: 18px;
  border: #505050;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 21px;
  border: 1px solid #505050;
  border-radius: 50%;
  overflow: hidden;
}

.tabs-trigger::after {
  width: 1px;
  height: 100%;
  top: 0;
  left: 60px;
  background-color: #e7e7e7;
}

.tabs-trigger span::before, .tabs-trigger span::after {
  position: absolute;
  content: '';
  background-color: #505050;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.tabs-trigger span::before {
  width: 10px;
  height: 2px;
  left: 25px;
}

.tabs-trigger span::after {
  width: 2px;
  height: 10px;
  left: 29px;
  -webkit-transition: height .3s;
  transition: height .3s;
}

.tabs-content {
  display: none;
  padding: 16px;
  text-align: justify;
  font-size: 14px;
  line-height: 1.57;
  color: #505050;
  background-color: #fff;
}

.tabs-content.active {
  display: block;
}

.tabs-trigger.active {
  color: #ff0036;
}

.tabs-trigger.active::before {
  -webkit-transition: border .3s;
  transition: border .3s;
  border: 1px solid #ff0036;
}

.tabs-trigger.active span::before {
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
  background-color: #ff0036;
}

.tabs-trigger.active span::after {
  -webkit-transition: height .3s;
  transition: height .3s;
  background-color: #ff0036;
  height: 0;
}

.section-about__text {
  text-align: center;
  font-weight: 700;
  line-height: 1.38;
  color: #505050;
  margin-bottom: 100px;
}

.section-about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body-about__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.body-about__text {
  line-height: 1.38;
  text-align: justify;
  color: #505050;
  margin-bottom: 40px;
}
