@import "_nullstyle";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Raleway:wght@400;500;700&display=swap');



/*font-family: 'Lato', sans-serif;   font-family: 'Raleway', sans-serif; */

@import "_main-slider";
@import "_header-burger";

body {
	font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-size: 16px;
}
body.lock {
	overflow: hidden;
}

.container {
	max-width: 1210px;
	margin: 0 auto;
	padding: 0 20px;
}

.title {
	font-family: 'Raleway', sans-serif;
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	color: #fff;
	
}
.title-span {
	color: #ff0036;
}
.btn {
	font-family: 'Raleway', sans-serif;
	width: 170px;
	height: 50px;
	text-align: center;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: 500;
	color: #fff;
	background: #131313;
	padding: 5px 10px;
	transition: background 0.3s, opacity 0.3s, transform 0.3s;
	&:hover {
		background: #ff0036;
	}
	&:active {
		transform: scale(0.9);
		opacity: 0.7;
	}
}

.logo {
	width: 100%;
	height: 137.5px;
	margin: 65.4px 0px 25px;
	position: relative;
	padding: 0.5em;
	text-align: center;
	z-index: 1;
	box-shadow: 0px 0px 15px 0 rgba(0,0,0,0.1);
	transform: translateY(-130%);
	transition: transform .4s, opacity .4s;
	&:before,
	&:after{
		content: '';
	}
	&:before,
	&:after,
	.logo-bg{ //картинку позиционируем в центре в форме полигона
		
		background: #131313; //если img то bg не нуджен
		background-image: url(../image/section-main/Creativia.png);
		background-repeat: no-repeat;
		background-position: 50% 86%;
		top: -50%;
		left: 0;
		width: 100%;
		height: 200%;
		position: absolute;
		//-webkit-clip-path: polygon(30% 0, 70% 0, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0 70%, 0 30%);
		clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 20%);
		z-index: -1;
	}
	&:before{
		background: #ff0036;
		transform: scale(1.02);
	}
	&:active {
		transform: translateY(-125%);
		opacity: 0.7;
	}
}
.logo-bg {
}
.logo-text {
	display: block;
	padding-top: 130px;
	font-size: 20px;
	color: #fff;
}
 
.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 5;
	&::before {
		position: absolute;
		content: '';
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(0, 0, 0);
		z-index: -1;
		opacity: 0.8;
		z-index: 2;
	}
	&__body {
		display: flex;
		justify-content: space-between;
		
	}

	&__logo-container {
		flex: 0 1 250px;
		max-width: 250px;
		position: relative;
		z-index: 3;
	}
	&__logo {
		display: block;
		position: absolute;
		
	}

	&__menu {
	}

	&__ul {
		display: flex;
		position: relative;
		z-index: 4;
	}

	&__li {
		margin-left: 28px;
		&:first-child {
			margin-left: 0;
		}
	}

	&__link {
		display: block;
		font-family: 'Raleway', sans-serif;
		font-size: 19px;
		text-transform: uppercase;
		color: #a4a4a4;
		font-weight: 400;
		padding: 25px 0px;
		position: relative;
		transition: color .4s, transform .4s, opacity .4s;
		&::before, &::after {
			position: absolute;
			content: '';	
			width: 0;
			height: 2px;
			background-color: transparent;
			left: 50%;
			transform: translate(-50%);
			transition: width .4s, background-color .4s;
		}
		&::before {
			top: 0;
		}
		&::after {
			bottom: 0;
		}
		&:hover {
			color: #fff;
			&::after, &::before {
				width: 50%;
				background-color: rgb(255, 0, 54);
			}
		}
		&:active {
			transform: scale(0.9);
			opacity: 0.7;
		}
	}
}

@media(max-width:1230px) {
	.header__link {
		font-size: 16px;
		padding: 15px 0px;
	}
	.header__logo-container {
		flex: 0 1 200px;
		max-width: 200px;
	}
	.logo {
	
		&:before,
		&:after,
		.logo-bg {
			background-position: 50% 80%;
			top: -30%;
			height: 170%;
		}
	}
}

@media(max-width:992px) {
	.header::before {
		opacity: 1;
	}
	.header__menu {
		position: fixed;
		top: -100%;
		left: 0;
		width: 100%;
		height: 100%;
		background: #131313;
		padding: 100px 10px 20px 10px;
		overflow: auto;
		transition: top .4s;
	}
	.header__menu.active {
		top: 0;
	}

	.logo {
		
		&:before,
		&:after,
		.logo-bg {
			transition: top 0.4s;
			background-position: 50% 90%;
			top: -40%;
			height: 170%;
		}
	}

	.logo.active{
		
		&:before,
		&:after,
		.logo-bg {
			transition: top 0.4s;
			background-position: 50% 90%;
			top: -50%;
			height: 170%;
		}
	}

	.header__ul{
		display: block;
		text-align: center;
		
		
	}
	.header__li {
		margin: 0;
		margin-top: 20px;
		
	}
	.header__li:nth-child(1){
		margin: 0;
	}
	.header__link {
		font-size: 20px;
		padding: 5px 5px;
		font-weight: 700;
		color:rgb(255, 0, 54);
		padding: 0;
		}
	
}






.section-main {
	width: 100%;
	height: 100%;
	position: relative;
	&__bg {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: -2;
		&::before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: #000;
			z-index: 1;
			opacity: 0.7;
		}
		img {
			position: absolute;
			left: 0;top: 0;
			object-fit: cover;
			width: 100%;
			height: 100%;	
		}
	}
	&__body {
		padding: 100px 40px 20px;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		overflow: auto;
	}

	&__title {
		margin-bottom: 45px;
		margin-top: -40px;
	}

	&__text {
		font-family: 'Lato', sans-serif;
		text-align: center;
		font-size: 16px;
		line-height: 1.38;
		padding: 0 50px;
		color: #fff;
		margin-bottom: 50px;
		overflow: auto;
	}
	&__btns {
		display: flex;
		justify-content: center;
	}

	&__btn {
		margin-right: 65px;
		&:nth-last-child(1) {
			margin: 0;
		}
	}
}
.main-slider {
	position: relative;
	
	&__item {
		width: 100%;
		height: 100vh;
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		
	}
}

.main-slider .slick-arrow {
	position: absolute;
	margin-top: -14px;
	top: 50%;
	z-index: 5;
	font-size: 0;
	width: 17px;
	height: 28px;
}
.main-slider .slick-arrow.slick-prev{
	left: 36px;
	background: url('../image/section-main/grey-arrow.png') 0 0 / 100% no-repeat;
	&:hover {
		background: url('../image/section-main/red-arrow.png') 0 0 / 100% no-repeat;
		transform: rotate(180deg);
	}
}
.main-slider .slick-arrow.slick-next{
	right: 36px;
	background: url('../image/section-main/grey-arrow.png') 0 0 / 100% no-repeat;
	transform: rotate(180deg);
	&:hover {
		background: #000;
		background: url('../image/section-main/red-arrow.png') 0 0 / 100% no-repeat;
		transform: rotate(0deg);
	}
}

@media(max-width:1320px) {
	.section-main__text {
		padding: 0 70px;
	}
}
@media(max-width:1130px) {
	.section-main__text {
		text-align: justify;
	}
}

@media(max-width:860px) {

	.section-main__body {
		padding: 120px 10px 20px;
	}
	.section-main__text {
		padding: 0 0px;
	}
	.section-main__btn {
		margin-right: 35px;
	}
}

@media(max-width:500px) {
	.section-main__title {
		margin-bottom: 25px;
	}
	.section-main__text {
		margin-bottom: 25px;
		//padding: 0 15px;
	}
	.section-main__btns {
		flex-direction: column;
		align-items: center;
		
	}
	.section-main__btn {
		margin-right: 0px;
		margin-bottom: 25px;
	}
}

